{% extends 'base.html.twig' %}

{% block body %}
    <h1>Resume</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resume.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ resume.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ resume.label }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ resume.picture }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ resume.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ resume.phone }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ resume.website }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ resume.summary }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resume_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('resume_edit', { 'id': resume.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
