{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('blog_new') }}" class="float-right btn btn-info">Create a new blog</a>
    <h1>Blogs list</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Updatedat</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td scope="row"><a href="{{ path('blog_show', { 'id': blog.id }) }}">{{ blog.id }}</a></td>
                <td>{{ blog.title | slice(0, 5) }}</td>
                <td>{{ blog.content | slice(0,25) }}...</td>
                <td>{% if blog.createdAt %}{{ blog.createdAt|date('F d,Y') }}{% endif %}</td>
                <td>{% if blog.updatedAt %}{{ blog.updatedAt|date('F d,Y') }}{% endif %}</td>

                <td>
                    <a href="{{ path('blog_show', { 'id': blog.id }) }}" class="btn-info btn">show</a>
                    <a href="{{ path('blog_edit', { 'id': blog.id }) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
